<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">Navbar w/ text</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Salario</th>
            <th scope="col">Edad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeArray" (click)="Editar(employee)" [class.table-active]="employee==selectedEmployee">
            <th scope="row"><span class="badge badge-primary">{{employee.id}}</span></th>
            <td>{{employee.nombre}}</td>
            <td>{{employee.salario}}</td>
            <td>{{employee.edad}}</td>
          </tr>         
        </tbody>
      </table>
    </div>
    <div class="col-md-4 mt-4">
      <div class="card">
         <div class="card-body">
           <div class="card-title">
             Usuario
           </div>
           <div class="form-group">
             <input type="text" [(ngModel)]="selectedEmployee.nombre" name="nombre" id="nombre" placeholder="Ingresar nombre" class="form-control">
             <input type="number" [(ngModel)]="selectedEmployee.salario" name="salario" id="salario" placeholder="Ingresar salario" class="form-control">
             <input type="number" [(ngModel)]="selectedEmployee.edad" name="edad" id="edad" placeholder="Ingresar edad" class="form-control">
            <button (click)="Envio()" class="btn btn-primary">
              Submit
            </button>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>
